/* Color variables */
:root {
  --bg-color: #f8f8f8;
  --text-color: #222222;
  --action-color: #B8902C;
  --hover-color: #80641e;
}

@font-face {
  font-family: graphik-medium;
  src: url(./fonts/Graphik-Medium.ttf);
}

@font-face {
  font-family: mulish-extrabold;
  src: url(../assets/fonts/Mulish-ExtraBold.ttf);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  --text-color: #f8f8f8;
  --bg-color: #222222;
  --action-color: #d9b346;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
  font-family: graphik-medium;
}

body.light {
  --bg-color: #f8f8f8;
  --text-color: #222222;
  --action-color: #B8902C;
  --hover-color: #a58127;
}

body.dark {
  --bg-color: #222222;
  --text-color: #f8f8f8;
  --action-color: #d9b346;
  --hover-color: #d4a92e;
}
