/* Color variables */
:root {
  --bg-color: #f8f8f8;
  --text-color: #222222;
  --action-color: #B8902C;
  --hover-color: #80641e;
}

@font-face {
  font-family: graphik-regular;
  src: url(./fonts/Graphik-Regular.ttf);
}

@font-face {
  font-family: graphik-light;
  src: url(./fonts/Graphik-Light.ttf);
}

@font-face {
  font-family: graphik-medium;
  src: url(./fonts/Graphik-Medium.ttf);
}

@font-face {
  font-family: mulish-extrabold;
  src: url(../assets/fonts/Mulish-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: graphik-regular;
  font-size: clamp(14px, 4.3vw, 16px);
  line-height: 1.5;
  letter-spacing: 0.2px;
  scrollbar-gutter: stable;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.5s;
}

body.light {
  --bg-color: #f8f8f8;
  --text-color: #222222;
  --action-color: #B8902C;
  --hover-color: #a58127;
}

body.dark {
  --bg-color: #222222;
  --text-color: #f8f8f8;
  --action-color: #d9b346;
  --hover-color: #d4a92e;
}
