@import './base.css';

#app {
  margin: auto;
  max-width: 1280px;
  padding: 0 20px;
}

h1 {
  text-align: center;
  font-size: clamp(2.6em, 10vw, 4em);
  line-height: 1.2;
  font-weight: bold;
}


h2 {
  font-size: clamp(2.25em, 10vw, 3.25em);
  line-height: 1.2;
  font-family: graphik-medium;
  color: var(--action-color);
}

h3 {
  font-size: clamp(1.25em, 10vw, 2em);
  line-height: 1.2;
}

button {
  border: 0;
  background-color: var(--action-color);
  cursor: pointer;
  font-family: graphik-medium;
  transition: 0.25s;
}

button:hover {
  background-color: var(--hover-color);
}
