@import './base.css';

@font-face {
  font-family: graphik-medium;
  src: url(./fonts/Graphik-Medium.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #181818;
}

#app {
  margin: auto;
  max-width: 1280px;
  padding: 0 20px;
  font-family: graphik-medium;
  color: white;
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  /* #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
